/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80%;
}

.recipes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.page-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.new-button {
  background-color: transparent;
  border-radius: 6px;
  height: min-content;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.new-recipe {
  text-decoration: none;
  color: #000;
}

.recipes {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0;
  gap: 10px;
}

.recipe {
  border: #000 solid 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
}

.recipe-title-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0;
  box-sizing: border-box;
  gap: 10px;
}

.recipe-name {
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000;
  margin: 0;
}

.recipe-des {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 20px 0;
  box-sizing: border-box;
}

.form {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.new-recipe-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.field {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-content: flex-start;
}

.name-label {
  display: none;
}

.name-input {
  display: flex;
  width: 100%;
  border: #000 solid 2px;
}

.public_recipe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 22rem;
  padding: 0 30px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: #000 solid 3px;
  box-sizing: border-box;
}

.public-section {
  width: 80%;
}